<template name="topicSubmitForm">
	<form class="topic-form">
		<div class="row">
		<span>Topic: </span>
			<input type="text" name="title" value="" placeholder="Topic"/>
		</div>
		<div class="row">
			<span>Description</span>
		
			<input type="text" name="description" value="" placeholder="A description of this topic"/>
		</div>
		<div>
			<span>Rules: </span>
			<input type="text" name="rules" value="" placeholder="rule.."/>
		</div>
		<div class="row">
			<input type="submit" value="Create Topic" class="btn btn-primary btn-sm btn-block">
		</div>
	</form>
</template>